/* select-autocomplete base styles */
.select-autocomplete .open-dropdown {
    margin-top: -2px;
    border: none !important;
}
.select-autocomplete .open-dropdown .select-items {
    border: 1px solid #DDD;
}